 /* ===============
      FOOTER
 =================*/
 footer {
    text-align: center;
    padding-bottom: 1rem;
}
.link {
    text-decoration: none;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom:0;
    height: 1.5px;
    background-color: #0979fa;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s ease-in;
}

.link:hover::after {
    transform: scaleX(1);
}

.link:active {
   color: blue;
}
