
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 


body {
    background-color: hsl(0, 0%, 98%);
}

/* ===============
    HEADER
=================*/
header {
    text-align: center;
    margin: 4vw;
}

header h1 {
    font-weight: 200;
    opacity: 0.8;
}

header h1 span { 
    display: block;
    font-weight: 600;
    opacity: 0.7;
}

header p {
    padding: 10px;
    color: hsl(229, 6%, 66%);
}

header p span {
    display: block;
}

/* ===============
    BODY
=================*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 3vw;  */
}

.vertical {
    transform: translateY(20%);
}

.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    width: 300px;
    position: relative;
    margin: 30px;
    box-shadow: 0 12px 12px -3px hsl(229, 6%, 66%);
    border-radius: 5px;
    overflow: hidden;
}
    .box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
    }

    .box.red::before {
        background-color: hsl(0, 78%, 62%);
    }
    .box.blue::before {
        background-color: hsl(212, 86%, 64%);
    }
    .box.cyan::before {
        background-color: hsl(180, 62%, 55%);
    }
    .box.orange::before {
        background-color: hsl(34, 97%, 64%);
    }



.box h3 {
    padding: 15px;
}
.box p {
    font-size: 12px;
    color: hsl(229, 6%, 66%);
    padding: 0px 15px 100px 15px;
    display: flex;
}
.box img {
    object-fit: contain;
    position: absolute;
    right: 25px;
    bottom: 25px;
    height: 55px;
}
 /* ===============
      FOOTER
 =================*/
 footer {
    text-align: center;
    padding-bottom: 1rem;
}
.link {
    text-decoration: none;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom:0;
    height: 1.5px;
    background-color: #5b1c8b;;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s ease-in;
}

.link:hover::after {
    transform: scaleX(1);
}

.link:active {
   color: blueviolet;
}



@media only screen and (max-width: 375px) {
    .container {
        margin: 2vw;
    }

    header {
        margin: 14vw 3vw;
    }

    header h1 {
        font-size: 7vw;
    }

    header p span {
        display: inline;
    }

    .vertical {
        transform: translateY(0%);
    }

    .box.red, .box.cyan {
        margin-top: 0px;
    }

    .box.orange {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        margin: 2vw;
        flex-flow: column;
        align-items: center;
    }
    .vertical {
        transform: translateY(0%);
    }

    .box.red, .box.cyan {
        margin-top: 0px;
    }

    .box.orange {
        margin-bottom: 0px;
    }

}
