@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*---------------
    LEFT
----------------*/
.left {
  flex: 0.5;
  padding: 0 5vw 0 10vw;
}

.left__logo {
  margin: 65px 0;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  line-height: 4.5rem;
  font-size: 4em;
  padding-top: 4vw;
}

h1 > span:nth-child(1) {
  font-weight: 350;
  color: hsl(0, 36%, 70%);
  display: block;
}

h1 > span:nth-child(2) {
  font-weight: 600;
  display: block;
  color: hsl(0, 6%, 24%);
}

.left__text {
  padding: 3vw 0;
  color: hsl(0, 36%, 70%);
  line-height: 2em;
  font-size: 18px;
}

::placeholder {
  color: hsl(0, 36%, 70%);
}

.left__text span {
  display: block;
}

form {
  position: relative;
  max-width: 400px;    
  margin-top: 20px;
}

form > input {
  padding: 18px 25px;
  border-radius: 50px;
  border: 1px solid hsl(0, 36%, 70%);
  width: 100%;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  height: 55px;
}

form.form__error input {
  border: 2px solid hsl(0, 93%, 76%);
}

.form__exclamation {
  position: absolute;
  top: 15px;
  right: 110px;
  visibility: hidden;
}

form.form__error .form__exclamation {
  visibility: visible;
}

.form__button {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 15px;
  border: none;
  width: 90px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  box-shadow: 0px 24px 25px -1px hsl(0, 36%, 70%, 0.4);
  outline: none;
  height: 55px;
  transition: 0.3s ease;
}

.form__button:hover {
  background-image: linear-gradient(135deg, hsl(0, 60%, 95%), hsl(0, 80%, 86%));
  box-shadow: 0px 24px 25px 0px hsl(0, 36%, 51%, 0.5);
}

.form__text,
.form__textSuccess {
  padding: 15px 20px;
  color: hsl(0, 93%, 76%);
  visibility: hidden;
  line-height: 1.4rem;
}

form.form__error .form__text {
  visibility: visible;
}

/*---------------
    RIGHT
----------------*/
.right {
  flex: 0.5;
  background-image: url("./images/hero-desktop.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.left_mobileImage {
  display: none;
}

@media only screen and (max-width: 840px) {
  .right {
    display: none;
  }

  .left {
    width: 100%;
  }

  .left_mobileImage {
    display: block;
    width: 100%;
  }

  .left__logo {
    margin: 40px;
    width: 130px;
  }
  .left {
    flex: 1;
    padding: 0;
  }

  h1 {
    line-height: 2.8rem;
    font-size: 2.5em;
    padding-top: 15vw;
    text-align: center;
  }
  .left__text {
    padding: 20px 35px;
    text-align: center;
    font-size: 15px;
  }
  .left__text span {
    display: inline;
  }

  form {
    margin: 0 35px 70px 35px;
  }
  form > input {
    height: 50px;
  }

  .form__exclamation {
    top: 12px;
  }

  .form__button {
    height: 50px;
  }
}
